.comment {
    padding: 5px 0px;
}

.comment--input {
    margin-left: 16px;
    width: 90%;
    font-size: 1.4rem;
    border-top: 1px solid #808080;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: 12px;
    padding: 5px;
}